body{
  font-size: 1.5rem;
}

.block{
  background-color: black;
  width: 30vw;
  color: wheat;
  height: 30vw;
  padding: 1rem;
}

.left{
  float: left;/* right */
  margin-right: 50px;
}

.right{
  float:right;
  margin-left: 50px;
}

.clear{
  clear:both;
}

section{
  border: 2px solid black;
  background-color: wheat;
  padding: 10px;
  /*overflow: auto;*/
  display: flow-root;
}